# Streamlit
__pycache__/
*.py[cod]
*$py.class

# Python
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/

# IDE
.idea/
.vscode/

# System
.DS_Store
Thumbs.db
